<form class="form-inline m-5">
  <div class="form-group mx-sm-3 mb-2">
    <label>Recherche du nom</label>
    <input type="text" #nomSaisie class="form-control" id="inputPassword2">
  </div>
  <button (click)="rechercheParNom(nomSaisie.value)" type="submit" class="btn btn-primary mb-2">Recherche</button>
</form>


<ul>
  <button (click)="recupererCollegueCourant(matricule)" type="button" class="btn btn-primary btn-lg btn-block col-6 m-5" *ngFor="let matricule of tabResultat" >{{matricule}}</button>
</ul>

