<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
  integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<div class="container">
  <div class="row">
    <div class="row">
      <div *ngFor="let colPhoto of tabcolleguesPhoto">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a  routerLink="/Gallerie/{{colPhoto.matricule}}" class="thumbnail" href="" data-image-id="" data-toggle="modal" data-title="">
            <img class="img"
              src="{{colPhoto.photoUrl}}"
              alt="Another alt text">
          </a>
        </div>
      </div>
    </div>
  </div>


 